<html>
<head>
<style>
#Letra {
  font-family:  Arial, Helvetica;
  border-collapse: collapse;
  width: 90%;
}

</style>
</head>
<body>
    <br>
    <div class="container">
    <div class="row">
    <br><br>
    <div class="container">
        <div class="row">
          <div class="col-sm">
            <div class="card mb-3" style="max-width: 440px;" id="Letra">
                <div class="row no-gutters">
                  <div class="col-md-4">
                      <br><br><br><br>
                    <img src="./assets/logo-java.png" class="card-img" alt="100px" height="100px" margin="auto">
                  </div>
                  <div class="col-md-8">
                    <div class="card-body">
                      <h5 class="card-title">Java</h5>
                      <p class="card-text">Java es un lenguaje de programación y una plataforma informática que fue comercializada por primera vez en 1995 por Sun Microsystems. Hay muchas aplicaciones y sitios web que no funcionarán, probablemente, a menos que tengan Java instalado y cada día se crean más.</p>
                    </div>
                  </div>
                </div>
              </div>
          </div>
          <div class="col-sm">
            <div class="card mb-3" style="max-width: 440px;" id="Letra">
                <div class="row no-gutters">
                  <div class="col-md-4">
                      <br><br><br><br>
                    <img src="./assets/php-logo.png" class="card-img" alt="100px" height="100px" margin="auto">
                  </div>
                  <div class="col-md-8">
                    <div class="card-body">
                      <h5 class="card-title">PHP</h5>
                      <p class="card-text">Java es un lenguaje de programación y una plataforma informática que fue comercializada por primera vez en 1995 por Sun Microsystems. Hay muchas aplicaciones y sitios web que no funcionarán, probablemente, a menos que tengan Java instalado y cada día se crean más.</p>
                    </div>
                  </div>
                </div>
              </div>
          </div>
        </div>
      </div>
    
      <div class="container">
        <div class="row">
          <div class="col-sm">
            <div class="card mb-3" style="max-width: 440px;" id="Letra">
                <div class="row no-gutters">
                  <div class="col-md-4">
                      <br><br><br><br>
                    <img src="./assets/Perl-Logo.png" class="card-img" alt="100px" height="100px" margin="auto">
                  </div>
                  <div class="col-md-8">
                    <div class="card-body">
                      <h5 class="card-title">PERL</h5>
                      <p class="card-text">Perl es un lenguaje de programación diseñado por Larry Wall en 1987. Perl toma características del lenguaje C, del lenguaje interpretado bourne shell (sh), AWK, sed, Lisp y, en un grado inferior, de muchos otros lenguajes de programación.</p>
                    </div>
                  </div>
                </div>
              </div>  
          </div>
          <div class="col-sm">
            <div class="card mb-3" style="max-width: 440px;" id="Letra">
                <div class="row no-gutters">
                  <div class="col-md-4">
                      <br><br><br><br>
                    <img src="./assets/c++-logo.png" class="card-img" alt="100px" height="100px" margin="auto">
                  </div>
                  <div class="col-md-8">
                    <div class="card-body">
                      <h5 class="card-title">C++</h5>
                      <p class="card-text">C++ es un lenguaje de programación diseñado en 1979 por Bjarne Stroustrup. La intención de su creación fue extender al lenguaje de programación C mecanismos que permiten la manipulación de objetos. En ese sentido, desde el punto de vista de los lenguajes orientados a objetos, el C++ es un lenguaje híbrido.</p>
                    </div>
                  </div>
                </div>
              </div>        
          </div>
        </div>
      </div>

      <div class="container">
        <div class="row">
          <div class="col-sm">
            <div class="card mb-3" style="max-width: 440px;" id="Letra">
                <div class="row no-gutters">
                  <div class="col-md-4">
                      <br><br><br><br>
                    <img src="./assets/Python-Logo.png" class="card-img" alt="100px" height="100px" margin="auto">
                  </div>
                  <div class="col-md-8">
                    <div class="card-body">
                      <h5 class="card-title">Python</h5>
                      <p class="card-text">Python es un lenguaje de programación interpretado cuya filosofía hace hincapié en la legibilidad de su código. Se trata de un lenguaje de programación multiparadigma, ya que soporta orientación a objetos, programación imperativa y, en menor medida, programación funcional. Es un lenguaje interpretado, dinámico y multiplataforma.</p>
                    </div>
                  </div>
                </div>
              </div>        
          </div>
          <div class="col-sm">
            <div class="card mb-3" style="max-width: 440px;" id="Letra">
                <div class="row no-gutters">
                  <div class="col-md-4">
                      <br><br><br><br>
                    <img src="./assets/Javascript-Logo.png" class="card-img" alt="100px" height="100px" margin="auto">
                  </div>
                  <div class="col-md-8">
                    <div class="card-body">
                      <h5 class="card-title">JavaScript</h5>
                      <p class="card-text">JavaScript (abreviado comúnmente JS) es un lenguaje de programación interpretado, dialecto del estándar ECMAScript. Se define como orientado a objetos,3​ basado en prototipos, imperativo, débilmente tipado y dinámico.</p>
                    </div>
                  </div>
                </div>
              </div>
          </div>
        </div>
      </div>

      <div class="container">
        <div class="row">
          <div class="col-sm">
            <div class="card mb-3" style="max-width: 440px;" id="Letra">
                <div class="row no-gutters">
                  <div class="col-md-4">
                      <br><br><br><br>
                    <img src="./assets/Swift-Logo.png" class="card-img" alt="100px" height="100px" margin="auto">
                  </div>
                  <div class="col-md-8">
                    <div class="card-body">
                      <h5 class="card-title">Swift</h5>
                      <p class="card-text">Swift es un lenguaje de programación multiparadigma creado por Apple enfocado en el desarrollo de aplicaciones para iOS y macOS. Fue presentado en la WWDC 20147​ y está diseñado para integrarse con los Frameworks Cocoa y Cocoa Touch; puede usar cualquier biblioteca programada en Objective-C y llamar a funciones de C.</p>
                    </div>
                  </div>
                </div>
              </div>
          </div>
          <div class="col-sm">
            <div class="card mb-3" style="max-width: 440px;" id="Letra">
                <div class="row no-gutters">
                  <div class="col-md-4">
                      <br><br><br><br>
                    <img src="./assets/Rust-Logo.png" class="card-img" alt="100px" height="100px" margin="auto">
                  </div>
                  <div class="col-md-8">
                    <div class="card-body">
                      <h5 class="card-title">Rust</h5>
                      <p class="card-text">Rust es un lenguaje de programación compilado, de propósito general y multiparadigma que está siendo desarrollado por Mozilla. Ha sido diseñado para ser "un lenguaje seguro, concurrente y práctico".​ Es un lenguaje de programación multiparadigma que soporta programación funcional pura, por procedimientos, imperativa y orientada a objetos.</p>
                    </div>
                  </div>
                </div>
              </div>
          </div>
        </div>
      </div>

      <div class="container">
        <div class="row">
          <div class="col-sm">
            <div class="card mb-3" style="max-width: 440px;" id="Letra">
                <div class="row no-gutters">
                  <div class="col-md-4">
                      <br><br><br><br>
                    <img src="./assets/Ruby-Logo.png" class="card-img" alt="100px" height="100px" margin="auto">
                  </div>
                  <div class="col-md-8">
                    <div class="card-body">
                      <h5 class="card-title">Ruby</h5>
                      <p class="card-text">Un lenguaje de programación dinámico y de código abierto enfocado en la simplicidad y productividad. Su elegante sintaxis se siente natural al leerla y fácil al escribirla.</p>
                    </div>
                  </div>
                </div>
              </div>
          </div>
          <div class="col-sm">
            <div class="card mb-3" style="max-width: 440px;" id="Letra">
                <div class="row no-gutters">
                  <div class="col-md-4">
                      <br><br><br><br>
                    <img src="./assets/Csharp-Logo.png" class="card-img" alt="100px" height="100px" margin="auto">
                  </div>
                  <div class="col-md-8">
                    <div class="card-body">
                      <h5 class="card-title">C#</h5>
                      <p class="card-text">es un lenguaje de programación multiparadigma desarrollado y estandarizado por Microsoft como parte de su plataforma .NET, que después fue aprobado como un estándar por la ECMA (ECMA-334) e ISO (ISO/IEC 23270).</p>
                    </div>
                  </div>
                </div>
              </div>
          </div>
        </div>
      </div>


     
</div>
</div>
</body>
</html>